scripts/nodered/nppBackup/fullsolution.json.2018-04-06_201127.bak
[{"id":"88aeaed4.d841c","type":"tab","label":"Working Solution DevNet Create 2018","disabled":false,"info":""},{"id":"30a3631c.0085fc","type":"mqtt in","z":"88aeaed4.d841c","name":"dietpi-1 mqtt lux","topic":"cc2650/temp/546c0e531e46","qos":"0","broker":"10ab31e9.4a6ab6","x":140,"y":200,"wires":[["c739df9f.d6239","4111ab38.ae00d4"]]},{"id":"2a1b927.4882cee","type":"switch","z":"88aeaed4.d841c","name":"Alarm Status","property":"payload.json_data.lux","propertyType":"msg","rules":[{"t":"gt","v":"150","vt":"str"},{"t":"btwn","v":"101","vt":"num","v2":"150","v2t":"num"},{"t":"lte","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":200,"wires":[["26c93d16.15092a"],["efcfcd67.950c6"],["51b75cd5.0398e4"]]},{"id":"c739df9f.d6239","type":"json","z":"88aeaed4.d841c","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":200,"wires":[["da6172f3.d652","a5d3f01e.18ef4","1d6c4a1e.b2513e"]]},{"id":"26c93d16.15092a","type":"exec","z":"88aeaed4.d841c","command":"sudo python /home/pi/devnet2018/Create2018/Louis\\ Frolio/scripts/python/trafficlight.py red true","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Status: ALARM","x":860,"y":120,"wires":[["802336fd.0eb4a8"],["c6c39e6e.9e6f08"],[]]},{"id":"51b75cd5.0398e4","type":"exec","z":"88aeaed4.d841c","command":"sudo python /home/pi/devnet2018/Create2018/Louis\\ Frolio/scripts/python/trafficlight.py green true","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Status: NORMAL","x":870,"y":280,"wires":[["c6c2dc2d.110308"],["d5c961a5.69d68"],[]]},{"id":"802336fd.0eb4a8","type":"debug","z":"88aeaed4.d841c","name":"redstdout","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":60,"wires":[]},{"id":"c6c39e6e.9e6f08","type":"debug","z":"88aeaed4.d841c","name":"redstderror","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":100,"wires":[]},{"id":"c6c2dc2d.110308","type":"debug","z":"88aeaed4.d841c","name":"greenstdout","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":240,"wires":[]},{"id":"d5c961a5.69d68","type":"debug","z":"88aeaed4.d841c","name":"greenstderr","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":280,"wires":[]},{"id":"28337d96.1231b2","type":"pythonshell in","z":"88aeaed4.d841c","name":"","pyfile":"/home/pi/bluepy/bluepy/cc2650.py","virtualenv":"","continuous":true,"x":160,"y":100,"wires":[["b071572.1a19628"]]},{"id":"b071572.1a19628","type":"debug","z":"88aeaed4.d841c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":100,"wires":[]},{"id":"da6172f3.d652","type":"function","z":"88aeaed4.d841c","name":"Time Series Format","func":"var data = msg.payload;\n\nfunction generateRandomId() {\n    return Math.round (Math.random()*(1000000 - 1)+1);\n}\n\nvar randomId = generateRandomId();\n\nmsg.payload = {\n    id: randomId,\n    tstamp: {$data:(new Date()).getTime()},\n    json_data : {\n        lux:data.lux,\n        ambient_temp:data.ambient_temp,\n        humidity:data.humidity\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["2a1b927.4882cee","72a3d452.b7fbd4","7c057e21.53a61"]]},{"id":"efcfcd67.950c6","type":"exec","z":"88aeaed4.d841c","command":"sudo python /home/pi/devnet2018/Create2018/Louis\\ Frolio/scripts/python/trafficlight.py yellow true","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Status: WARNING","x":870,"y":200,"wires":[["b180ff4d.fe0088"],["f5edbb66.68246"],[]]},{"id":"f5edbb66.68246","type":"debug","z":"88aeaed4.d841c","name":"yellowstderr","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":200,"wires":[]},{"id":"b180ff4d.fe0088","type":"debug","z":"88aeaed4.d841c","name":"yellowstdout","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":160,"wires":[]},{"id":"72a3d452.b7fbd4","type":"timeseries out","z":"88aeaed4.d841c","timeseries":"4143b30d.84526c","name":"","baseTimeSeriesTable":"sensor_ts","x":760,"y":340,"wires":[]},{"id":"4111ab38.ae00d4","type":"debug","z":"88aeaed4.d841c","name":"Raw MQTT Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":150,"y":320,"wires":[]},{"id":"7c057e21.53a61","type":"debug","z":"88aeaed4.d841c","name":"Time Series Formated Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":380,"wires":[]},{"id":"a5d3f01e.18ef4","type":"debug","z":"88aeaed4.d841c","name":"Raw Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.lux","x":380,"y":320,"wires":[]},{"id":"e57717b1.a78c1","type":"cloudant out","z":"88aeaed4.d841c","name":"Insert into Cloudant (Cloud)","cloudant":"f99df1a6.8cce48","database":"devnetcreate2018","service":"_ext_","payonly":false,"operation":"insert","x":1500,"y":820,"wires":[]},{"id":"fb451243.ff1e28","type":"function","z":"88aeaed4.d841c","name":"Lux: Z-Score","func":"//initialize a list that stores the last n values for the electric current by using the voltage parameter. In stream computing, this list is called a \"sliding window of fixed size.\" \nvar aggwindow = context.get('aggwindow')||[];\n\n//add values to that lis\naggwindow.push(msg.payload.lux); \n\n//Continue adding values to the list until we have exceeded 30 values, which defines the size of our sliding window. \nif (aggwindow.length> 3) {\n    \n    //To compute z-score, we need the mean and the standard deviation.\n    sum = aggwindow.reduce((a,b)=>a+b,0);\n    n = aggwindow.length;\n    mean = sum/n;\n    sd = Math.sqrt(aggwindow.map(x=>Math.pow(mean-x,2)).reduce((a,b)=>a+b,0));\n    \n    // get rid of the oldest element in the list, which resembles a LIFO. \n    aggwindow.shift();\n    \n    //Perform Z-Score Calculation. Add a small value to standard deviation because the standard deviation can become zero, which is mathematically undefined\n    msg.zscore = (mean-msg.payload.lux)/(sd+0.0001)\n}\n\n//store this list to a global context to preserve it over individual message lifetimes\ncontext.set('aggwindow',aggwindow);\n\n\n//output voltage and zscore\nmsg.payload = {\n    [(\"zscore\")]:Math.abs(msg.zscore)\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["30f546ad.fe9f3a","abb569ad.4aeed8","e9090664.7a64b8"]]},{"id":"30f546ad.fe9f3a","type":"debug","z":"88aeaed4.d841c","name":"Z-Score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.zscore","x":740,"y":440,"wires":[]},{"id":"89a70559.86e1d","type":"debug","z":"88aeaed4.d841c","name":"Average Lux","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.lux","x":750,"y":500,"wires":[]},{"id":"1d6c4a1e.b2513e","type":"switch","z":"88aeaed4.d841c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":440,"wires":[["7d274fa9.415b5","fb451243.ff1e28","f1b0e2b3.3eddd8","c026f52c.85c6b8"]]},{"id":"7d274fa9.415b5","type":"debug","z":"88aeaed4.d841c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.lux","x":220,"y":520,"wires":[]},{"id":"f1b0e2b3.3eddd8","type":"smooth","z":"88aeaed4.d841c","name":"Lux: Moving Mean","property":"payload.lux","action":"mean","count":"3","round":"","mult":"multi","x":490,"y":500,"wires":[["89a70559.86e1d","36e7ab4a.ef4a5c","9c9e8d8a.4013f"]]},{"id":"c026f52c.85c6b8","type":"smooth","z":"88aeaed4.d841c","name":"Lux: Standard Deviation","property":"payload.lux","action":"sd","count":"3","round":"","mult":"multi","x":510,"y":560,"wires":[["668ae5c9.608924","c4720701.e84c2","839d32b8.216c08"]]},{"id":"668ae5c9.608924","type":"debug","z":"88aeaed4.d841c","name":"Standard Deviation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.lux","x":770,"y":560,"wires":[]},{"id":"abb569ad.4aeed8","type":"function","z":"88aeaed4.d841c","name":"Z-Score","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"task1\";\nmsg.payload=msg.ID.zscore\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":720,"wires":[["13e8f49e.9bbae3","248aaed2.c6ac52"]]},{"id":"13e8f49e.9bbae3","type":"debug","z":"88aeaed4.d841c","name":"Z-Score Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":540,"wires":[]},{"id":"36e7ab4a.ef4a5c","type":"function","z":"88aeaed4.d841c","name":"Moving Average","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"task2\";\nmsg.payload=msg.ID.lux\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":760,"wires":[["efcb35bb.e9254","8968da59.28ec7"]]},{"id":"efcb35bb.e9254","type":"debug","z":"88aeaed4.d841c","name":"Mean Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":580,"wires":[]},{"id":"c4720701.e84c2","type":"function","z":"88aeaed4.d841c","name":"Standard Deviation","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"task3\";\nmsg.payload=msg.ID.lux\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":800,"wires":[["786551cd.4758e","5bb7eec3.cb2ad8"]]},{"id":"786551cd.4758e","type":"debug","z":"88aeaed4.d841c","name":"Standard Deviation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":620,"wires":[]},{"id":"248aaed2.c6ac52","type":"delay","z":"88aeaed4.d841c","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"0","randomLast":"6","randomUnits":"seconds","drop":false,"x":960,"y":720,"wires":[["6949e2ca.5ea13c","7fae218b.cbf078"]]},{"id":"8968da59.28ec7","type":"delay","z":"88aeaed4.d841c","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"6","randomUnits":"seconds","drop":false,"x":960,"y":760,"wires":[["6949e2ca.5ea13c"]]},{"id":"5bb7eec3.cb2ad8","type":"delay","z":"88aeaed4.d841c","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"6","randomUnits":"seconds","drop":false,"x":960,"y":800,"wires":[["6949e2ca.5ea13c"]]},{"id":"6949e2ca.5ea13c","type":"function","z":"88aeaed4.d841c","name":"Wait for all tasks to finish","func":"QueryID = msg.ID;\ncontext.data = context.data || {};\ncontext.data[QueryID] = context.data[QueryID] || {tstamp:(new Date()).getTime(), zscore : null, weighted_mean: null, standard_dev: null, piname: context.global.os.hostname()};\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data[QueryID].zscore = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data[QueryID].weighted_mean = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data[QueryID].standard_dev = msg.payload;\n        msg = null;\n        break;\n    case \"task4\":\n        context.data[QueryID].piname = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data[QueryID].zscore !== null && context.data[QueryID].weighted_mean !== null && context.data[QueryID].standard_dev !== null) {\n\tmsg2 = {};\n    msg2 = context.data[QueryID];\n    delete context.data[QueryID];\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":1230,"y":760,"wires":[["14e77a73.3db126","e57717b1.a78c1"]]},{"id":"7fae218b.cbf078","type":"debug","z":"88aeaed4.d841c","name":"Z with Delay","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":680,"wires":[]},{"id":"14e77a73.3db126","type":"debug","z":"88aeaed4.d841c","name":"Combined","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1450,"y":700,"wires":[]},{"id":"e9090664.7a64b8","type":"function","z":"88aeaed4.d841c","name":"Z-Score to Guage","func":"var fields = {payload: msg.payload.zscore};\nreturn fields;","outputs":1,"noerr":0,"x":1030,"y":400,"wires":[["8b2e1796.e5512"]]},{"id":"1021e91b.aa109f","type":"ui_chart","z":"88aeaed4.d841c","name":"","group":"9963034.8cc27","order":0,"width":0,"height":0,"label":"Lux Mean Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1300,"y":440,"wires":[[],[]]},{"id":"9c9e8d8a.4013f","type":"function","z":"88aeaed4.d841c","name":"Lux Mean","func":"var fields = {payload: msg.payload.lux};\nreturn fields;","outputs":1,"noerr":0,"x":1000,"y":440,"wires":[["1021e91b.aa109f"]]},{"id":"839d32b8.216c08","type":"function","z":"88aeaed4.d841c","name":"Standard Deviation","func":"var fields = {payload: msg.payload.lux};\nreturn fields;","outputs":1,"noerr":0,"x":1030,"y":480,"wires":[["1f5759eb.bed8a6"]]},{"id":"1f5759eb.bed8a6","type":"ui_chart","z":"88aeaed4.d841c","name":"","group":"9963034.8cc27","order":0,"width":0,"height":0,"label":"Lux Standard Deviation Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1350,"y":480,"wires":[[],[]]},{"id":"8b2e1796.e5512","type":"ui_chart","z":"88aeaed4.d841c","name":"","group":"9963034.8cc27","order":0,"width":0,"height":0,"label":"Z-Score Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1300,"y":400,"wires":[[],[]]},{"id":"10ab31e9.4a6ab6","type":"mqtt-broker","z":"","name":"dietpi-1","broker":"192.168.51.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4143b30d.84526c","type":"timeseries","z":"","hostname":"192.168.51.20","port":"27018","db":"iot","name":"Insert to Informax (Local)"},{"id":"f99df1a6.8cce48","type":"cloudant","z":"","host":"5017a47e-4beb-49a9-b221-56de06629f80-bluemix.cloudant.com","name":"devnetcreate2018-cloudantdb"},{"id":"9963034.8cc27","type":"ui_group","z":"","name":"Dashboard","tab":"fce9bb9a.afc248","order":1,"disp":true,"width":"6","collapse":false},{"id":"fce9bb9a.afc248","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]